<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:data-th-each="http://www.w3.org/1999/xhtml">
<head>
    <title>Account Form</title>
</head>
<body>
<h2>Account Info</h2>
<div data-th-if="${errors}">
    <h2>Допущены ошибки</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>
<form data-th-action="@{/accounts/create}" method="post">
    <label>
        Название счета <br>
        <input type="text" name="title" data-th-value="${payload?.title}">
    </label><br>
    <label>
        Сумма <br>
        <input type="text" name="balance" data-th-value="${payload?.balance}">
    </label>
    <button type="submit">OK</button>
</form>
<button type="button">
    <a href="/accounts/list">Go back</a>
</button>
</body>
</html>
