<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit account &laquo;[[${account?.title}]]&raquo;</title>
</head>
<body>
<h2>Edit account &laquo;[[${account?.title}]]&raquo;</h2>
<div data-th-if="${errors}">
    <h2>Допущены ошибки</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>
<form data-th-action="@{/accounts/{accountId}/edit(accountId = ${account.id})}" method="post">
    <label>
        Название счета <br>
        <input type="text" name="title" data-th-value="${payload!=null? payload?.title : account.title}">
    </label><br>
    <label>
        Сумма <br>
        <input type="text" name="balance" data-th-value="${payload!=null? payload?.balance : account.balance}">
    </label>
    <button type="submit">Change</button>
</form>
<button type="button">
    <a data-th-href="@{/accounts/list}">Go back to account list</a>
</button>
</body>
</html>