<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Form</title>
</head>
<body>
<h2>Account Info</h2>
<form data-th-action="@{/accounts/save}" method="post">
    <label>
        Название счета <br>
        <input type="text" name = "title">
    </label><br>
    <label>
        Сумма <br>
        <input type="text" name = "balance">
    </label>
    <button type="submit">OK</button>
</form>
<button type = "button">
    <a href = "/accounts/list">Go back</a>
</button>
</body>
</html>
